{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.payments|length %}

            {% for payment in object.payments %}
                {% set icon = '' %}
                {% if payment.method == 'PAYMENT_SERVICE' %}
                    {% set icon = 'fa-credit-card' %}
                {% elseif payment.method == 'CASH' %}
                    {% set icon = 'fa-money' %}
                {% endif %}
                <div style="clear: both; margin-bottom: 5px;">
                    <div style="text-align:right; display: inline-block; float: right; width: 45px; white-space: nowrap; position: relative;">
                        {% if payment.info|length %}
                        <div class="dropdown" style="display: inline-block;">
                            <a href="#" class="dropdown-toggle" id="dropdownInfo-{{ payment.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-info-circle" aria-hidden="true" style="padding: 0 5px;"></i></a>
                            <div class="dropdown-menu" style="padding-left: 5px; padding-right: 5px;" aria-labelledby="dropdownInfo-{{ payment.id }}">
                                <h5><strong>{{ 'admin.entities.shopping_payment.details'|trans }}</strong></h5>
                                {% for key,value in payment.info %}
                                    {% if key != 'userComment' %}{{ key }}: {% endif %}{{ value }}<br>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        <a onclick="return start_dialog_delete(this);" href="{{ admin.getRouteGenerator.generateUrl(field_description.getOption('paymentAdmin') , 'delete', {'id' : payment.id}) }}" title="{{ 'admin.actions.shopping_payment.delete_payment'|trans }}" data-id="{{ payment.id }}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                    </div>
                    <div style="margin-right: 50px;">
                        <i class="fa {{ icon }}" aria-hidden="true"></i>
                        <strong>{{ payment.amount|number_format_currency('EUR') }}</strong> <span style="white-space: nowrap;">at {{ payment.date|date('d M') }}</span>
                    </div>
                </div>
            {% endfor %}

    {% endif %}

    {% if object.status != 'CANCELED' %}
        <p style="margin-top: 5px;"><a onclick="return start_dialog_form_add(this);" href="{{ admin.getRouteGenerator.generateUrl(field_description.getOption('paymentAdmin') , 'create', {'order_id' : object.id}) }}" title="{{ 'admin.actions.shopping_payment.add_payment'|trans }}">{{ 'admin.actions.shopping_payment.add_payment'|trans }}</a></p>
    {% endif %}
{% endblock %}