{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    <strong>#{{ object.id }}</strong><br>
    {{ object.date|date('Y-m-d H:i') }}<br>
    {% if object.status == 'CREATED' %}
        {% set class_name = 'warning' %}
    {% elseif object.status == 'PAID'  %}
        {% set class_name = 'success' %}
    {% elseif object.status == 'CONFIRMED'  %}
        {% set class_name = 'info' %}
    {% elseif object.status == 'CANCELED'  %}
        {% set class_name = 'secondary' %}
    {% endif %}
    <span class="badge btn-{{ class_name }}">{{ object.statusName|trans }}</span>
{% endblock %}