{% extends 'SonataDoctrineORMAdminBundle:CRUD:list_orm_many_to_one.html.twig' %}

{% block field %}
    {{ parent() }}
    {% if value.phone %} <br>{{ value.phone }} {% endif %}
    {% if value.email %} <br>{{ value.email }} {% endif %}

    {% if object.status != 'CANCELED' %}
        <p style="margin-top: 10px;">
            <a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('resendNotification', object) }}" title="{{ 'admin.entities.shopping_order.action_resend_notification'|trans }}">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                {{ 'admin.entities.shopping_order.action_resend_notification'|trans }}
            </a>
        </p>
    {% endif %}

{% endblock %}