
{% extends 'SonataAdminBundle:CRUD:list.html.twig' %}

{% block list_table %}
    {{ parent() }}
    {{ block('order_list_modal') }}
    {{ block('order_list_js') }}
{% endblock %}

{% block order_list_modal %}
    <div class="modal fade" id="order_list__dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block order_list_js %}
    {% autoescape false %}

    <script type="text/javascript">

        var order_list_dialog         = false;
        var order_list_dialog_content = false;
        var order_list_dialog_title   = false;

        function order_list_initialize_popup() {
            // initialize component
            if (!order_list_dialog) {
                order_list_dialog         = jQuery("#order_list__dialog");
                order_list_dialog_content = jQuery(".modal-body", "#order_list__dialog");
                order_list_dialog_title   = jQuery(".modal-title", "#order_list__dialog");

                // move the dialog as a child of the root element, nested form breaks html ...
                jQuery(document.body).append(order_list_dialog);
            }
        }

        function start_dialog_form_add(link) {

            // remove the html event
            link.onclick = null;

            order_list_initialize_popup();

            // add the jQuery event to the a element
            jQuery(link)
                    .click(dialog_form_add)
                    .trigger('click')
            ;

            return false;
        }

        function start_dialog_delete(link) {

            // remove the html event
            link.onclick = null;

            order_list_initialize_popup();

            // add the jQuery event to the a element
            jQuery(link)
                    .click(dialog_form_add)
                    .trigger('click')
            ;

            return false;
        }

        // handle the add and delete link
        var dialog_form_add = function(event) {
            order_list_initialize_popup();

            event.preventDefault();
            event.stopPropagation();

            var a = jQuery(this);

            order_list_dialog_content.html('');

            // retrieve the form element from the related admin generator
            jQuery.ajax({
                url: a.attr('href'),
                dataType: 'html',
                success: function(html) {

                    // populate the popup container
                    order_list_dialog_content.html(html);
                    order_list_dialog_title.html(a.attr('title'));

                    Admin.shared_setup(order_list_dialog);

                    // capture the submit event to make an ajax call, ie : POST data to the
                    // related create admin
                    jQuery('a', order_list_dialog).on('click', dialog_form_action);
                    jQuery('form', order_list_dialog).on('submit', dialog_form_action);

                    // open the dialog in modal mode
                    order_list_dialog.modal();

                    Admin.setup_list_modal(order_list_dialog);
                }
            });
        };

        // handle the post data
        var dialog_form_action = function(event) {

            var element = jQuery(this);

            // return if the link is an anchor inside the same page
            if (
                    this.nodeName === 'A'
                    && (
                            element.attr('href').length === 0
                            || element.attr('href')[0] === '#'
                            || element.attr('href').substr(0, 11) === 'javascript:'
                    )
            ) {
                return;
            }

            event.preventDefault();
            event.stopPropagation();

            order_list_initialize_popup();

            if (this.nodeName == 'FORM') {
                var url  = element.attr('action');
                var type = element.attr('method');
            } else if (this.nodeName == 'A') {
                var url  = element.attr('href');
                var type = 'GET';
            } else {
                alert('unexpected element : @' + this.nodeName + '@');
                return;
            }

            var data = {
                _xml_http_request: true
            }

            var form = jQuery(this);

            // the ajax post
            jQuery(form).ajaxSubmit({
                url: url,
                type: type,
                data: data,
                success: function(data) {
                    // if the crud action return ok, then the element has been added
                    // so the widget container must be refresh with the last option available
                    if (typeof data != 'string' && data.result == 'ok') {
                        order_list_dialog.modal('hide');
                        location.reload();
                        return;
                    }

                    // otherwise, display form error
                    order_list_dialog_content.html(data);

                    Admin.shared_setup(order_list_dialog);

                    // reattach the event
                    jQuery('form', order_list_dialog).submit(dialog_form_action);
                }
            });

            return false;
        };


    </script>

    {% endautoescape %}
{% endblock %}