{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
{% for item in object.items %}
    <div>
        <strong>{{ item.name }}</strong>,
        {{ item.price|number_format_currency('EUR') }}{% if admin.isProductQuantityEditable(item) %}, {{ 'admin.entities.shopping_order_item.quantity'|trans }}: {{ item.quantity }}{% endif %}
        <br>
        {% for key, row in admin.getProductDescription(item) %}
            {% if row.type == 'boolean' %}
                {{ row.name|trans }}: {{ ('admin.values.boolean.' ~ (row.value ? 'yes' : 'no'))|trans }}
            {% elseif row.type == 'choice' %}
                {{ row.choice_label|transchoice(row.value, {'%count%': row.value}) }}
            {% else %}
                {{ row.value }}
            {% endif %}
            <br>
        {% endfor %}
    </div>
{% endfor %}
    <br>
    <p><strong>{{ 'admin.entities.shopping_order.total'|trans }}: {{ object.price|number_format_currency('EUR') }}</strong></p>
{% endblock %}
