{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% set discount = field_description.getOption('discount') %}
    {% if discount and discount|length %}
        {% for discountInfo in discount %}
            <p>{{ 'admin.entities.shopping_order.discount_value_is'|trans }} <strong>{{ discountInfo.value|number_format_currency('EUR') }}</strong>
            {% if discountInfo.promoCode %} {{ 'admin.entities.shopping_order.with_promo_code'|trans }} <strong>{{ discountInfo.promoCode }}</strong>{% endif %}</p>
        {% endfor %}
    {% else %}
        —
    {% endif %}
{% endblock %}
