{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% if value|length %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ 'admin.entities.shopping_payment.date'|trans }}</th>
                    <th>{{ 'admin.entities.shopping_payment.amount'|trans }}</th>
                    <th>{{ 'admin.entities.shopping_payment.method'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for payment in value %}
                    <tr>
                        <td>{{ payment.date|date('d.m.Y H:i') }}</td>
                        <td>{{ payment.amount }}</td>
                        <td>{{ payment.method }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        —
    {% endif %}
{% endblock %}
