{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    {% for item in value %}
        <div class="row">
            <div class="col-md-2">
                {% if item.image %}
                    <img src="{{ web_image(item.image).cropResize(150, 150) }}" class="img-thumbnail"/>
                {% endif %}
            </div>
            <div class="col-md-10">
                <p><strong>{{ item.name }}</strong></p>

                <div>{{ item.description|raw }}</div>

                <p>
                    {{ item.price|number_format_currency('EUR') }},
                    {{ 'admin.entities.shopping_order_item.quantity'|trans }}: {{ item.quantity }}
                </p>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{{ 'admin.entities.shopping_order_item.parameter_key'|trans }}</th>
                            <th>{{ 'admin.entities.shopping_order_item.parameter_value'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, row in admin.getProductDescription(item) %}
                            <tr>
                                <td>{{ row.name|trans }}</td>
                                <td>
                                    {% if row.type == 'boolean' %}
                                        {{ ('admin.values.boolean.' ~ (row.value ? 'yes' : 'no'))|trans }}
                                    {% elseif row.type == 'choice' %}
                                        {{ row.choice_label|transchoice(row.value, {'%count%': row.value}) }}
                                    {% else %}
                                        {{ row.value }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}
