{% if object.status == 'CREATED' %}
    <a class="btn btn-sm btn-default confirm-link" href="{{ admin.generateObjectUrl('confirm', object) }}" title="{{ 'admin.entities.shopping_order.action_confirm'|trans }}">
        <i class="fa fa-check" aria-hidden="true"></i>
        {{ 'admin.entities.shopping_order.action_confirm'|trans }}
    </a>
{% endif %}