{% if object.status != 'CANCELED' %}
    <a class="btn btn-sm btn-default cancel-link" href="{{ admin.generateObjectUrl('cancel', object) }}" title="{{ 'admin.entities.shopping_order.action_cancel'|trans }}">
        <i class="fa fa-ban" aria-hidden="true"></i>
        {{ 'admin.entities.shopping_order.action_cancel'|trans }}
    </a>
{% endif %}